/* Nav Bar*/
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #f1f1f1;
    height: 102vh;
    position: fixed;
    width: 20%;
    z-index: 0;
    text-align: center;
    margin-top: -2%;
    margin-left:-1%;
    padding-top: 30px;
    
}

.sidephoto {
    
     margin-top: 50%;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: monospace;
}

li a:hover {
    background-color: #66526e;
    color: white;
}

#navhome {
    
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: -7%;
    
}

/*Font*/

@font-face {
    
    font-family:pixel;
    src: url("pixel.ttf");
}


@font-face  {
    
    font-family:space;
    src: url("fonts/space.ttf")
}



/*Text*/ 

.title span {
    
    
    background-color: #4d4871;
    color:white;
    text-align: center;
    padding: 10px;
    padding-left: 150px;
    padding-right: 20px;
    margin-left: 18%; 
    float: left;
    width: 25%;
    margin-bottom: 5%;
    box-shadow: 15px 15px grey;
    font-family: space;
}

h1  {
    
    font-family: space;
}

#text {
    
    width: 60%;
    margin-left: 25%;
    float: left;
    background-color:whitesmoke;
    box-shadow: 10px 10px grey;
    text-align: justify;
    padding-bottom: 10%;
    margin-bottom: 10%;
    font-family: monospace;
    
}


#text h1,
p{
    
    
    padding: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    
    
}

p span {
    
    
    padding-top: 1px;
    padding-bottom: 10px;
    margin; 30px;
   
    
}

/* Text Box*/

.spacer {
    
    margin-top: 10%;
    padding-bottom: 20px;
    
}

/* Background*/


 body  {
    background: url("Images/galaxy.jpg");
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
    
}
/* Scroll Bar*/

::-webkit-scrollbar {
    width: 10px;
    
    
}


::-webkit-scrollbar-track {
    background-color: #1b0c2d;
    opacity: 0.5;
        
}
 

::-webkit-scrollbar-thumb {
    background-color: #4d4871;
}


::-webkit-scrollbar-thumb:hover {
  background-color: #3f325d; 
}

/* Images*/

img  {
    padding-bottom: 10%;
    width: 60%;
    height: 50%;
    margin-left: 20%;
    padding-right: 20%;
    margin-right: 20%;
    float: left;
    align-self: center;
}


/* Videos*/
video  {
    padding-bottom: 10%;
    width: 60%;
    height: 50%;
    margin-left: 20%;
    padding-right: 20%;
    margin-right: 20%;
    float: left;
    align-self: center;
    
}
/* Html Page*/


